$main-bg-color: #F8F8F8;
$primary-color: #F4E041;
$secondary-color: #00BDD3;
$text-color: rgba(0, 0, 0, 0.87);
$btn-bg-color: $primary-color;
$btn-hover-bg-color: #FFE302;
$disabled: #B4B4B4;
$text-disabled: rgba(255, 255, 255, 0.87);

$h1-font-size: 40px;
$h1-line-height: 40px;
$p1-font-size: 16px;
$p1-line-height: 26px;
